<h1 class="page-title">menu</h1>
<div class="menu-main">
  <div class="menu-box row">
    <h2 class="offset-md-2 col-md-4">base</h2>
    <table class="table table-borderless col-md-6">
      <tr>
        <th>cut</th><td>4400</td>
      </tr>
      <tr>
        <th>cut&color</th><td>8800~</td>
      </tr>
      <tr>
        <th>cut&perm</th><td>9900~</td>
      </tr>
    </table>
  </div>
  <div class="menu-box row">
    <h2 class="offset-md-2 col-md-4">option</h2>
    <table class="table table-borderless col-md-6">
      <tr>
        <th>全頭ブリーチ</th><td>+4400</td>
      </tr>
      <tr>
        <th>その他ブリーチデザイン</th><td>+4400</td>
      </tr>
      <tr>
        <th>ケアブリーチ</th><td>+2200</td>
      </tr>
      <tr>
        <th>縮毛矯正</th><td>+9900</td>
      </tr>
      <tr>
        <th>TOKIOトリートメント（ホームケア付き）</th><td>+6600</td>
      </tr>
      <tr>
        <th>トリートメント</th><td>+2200~11000</td>
      </tr>
    </table>
  </div>
  <div class="menu-box row">
    <h2 class="offset-md-2 col-md-4">coupon</h2>
    <ul class="col-md-6">
      <li>初回10%off</li>
      <li>ご友人のご紹介で10%off</li>
      <li>2回目1カ月以内のご来店の方に限り1000円off</li>
      <li>3回目1カ月以内のご来店の方に限り1500円off</li>
      <li>4回目以降ご来店の方に限り毎回10％off</li>
    </ul>
  </div>
</div>
