<section class="gallery">
  <h2>Gallery</h2>
  <div class="gallery-wrap row">
    <% @galleries.each do |gallery| %>
      <div class="gallery-img col-3">
        <%= image_tag(gallery.images_thumbnail) %>
      </div>
    <% end %>
  </div>
  <div class="view-all">
    View all
  </div>
</section>
<section class="top-blog">
  <h2>New Posts</h2>
  <% @posts.each do |post| %>
    <%= image_tag post.image %>
    <%= post.title %>
  <% end %>
</section>
<section class="top-menu" style="background-color: ">
  <h2>Menu</h2>
</section>
