<div class="profile">
  <h1 class="profile-title">
    Profile
  </h1>
  <div class="profile-image">
    <img src="/assets/profile-image.jpg" width="128" height="128" />
  </div>
  <div class="profile-name">
    Muto-Atsuya
  </div>
  <div class="profile-text">
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  </div>
</div>
