@import '../mixin/header';
@import '../mixin/footer';

body {
  a {
    color: #000;
    text-decoration: none;
    &:hover {
      color: inherit;
    }
  }
}
h1, h2, h3 {
  font-family: 'Petit Formal Script', cursive;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'Petit Formal Script', cursive;
}

.header {
  font-family: 'Petit Formal Script', cursive;
}
.container {
  text-align: center;
}

.heading {
  position: relative;
  display: inline-block;
  padding-bottom: 15px;
  margin: 30px 0;
  letter-spacing: 2px;
  font-size: 2rem;
}
.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #111111;
}
.heading::before {
  bottom: 5px;
}

.more-btn {
  border: 1px solid #000;
  text-align: center;
  margin: 0 auto;
  width: 294px;
  a {
    color: #000;
    font-family: RelewayBold;
    text-decoration: none;
    display: block;
    line-height: 42px;
    position: relative;
    letter-spacing: .5px;
    transition: all .8s cubic-bezier(.08,.53,.23,.98);
  }
  a:hover {
    letter-spacing: 4px;
  }

}

section {
  padding: 70px 0 10px;
}
.gallery-wrap {
  padding: 20px;
}

.gallery-slide {
  padding: 0;
  li {
    margin-right: 50px;
    img {
      border-radius: 3px;
      margin-bottom: 6px;
      box-shadow: 0 0 5px;
    }
  }
}

.post-wrap {
  margin: 30px 0 50px;
  .post-img {
    img {
      transition: 0.5s;
    }
    p {
      margin-top: 10px;
    }
  }
  .post-img:hover img{
    transform: scale(1.1);
  }
}

.top-info {
  h3 {
    font-family: 'Roboto', sans-serif;
  }
  .salon-img {
    margin-bottom: 20px;
  }
}
