
  <div class="admin-main">
    <div class="admin-main--header">
      <h2>Dashboard</h2>
    </div>
    <div class="admin-main--body">
      <div class="row dashboard">
        <div class="col-md-4 dashboard-item">
          <h2>Posts(<%= @posts.count %>)</h2>
        </div>

      </div>
    </div>
  </div>
