<div class="row">
  <h1 class="page-title">Blog</h1>
  <% @posts.each do |post| %>
    <div class="cp_card02 col-md-6">
      <%= link_to post_path(post) do %>
        <% if post.image.attached? %>
          <div class="photo photo1">
            <%= image_tag(post.thumbnail) %>
          </div>
        <% end %>
        <ul class="details">
          <li class="date"><%= post.created_at.to_s(:datetime) %></li>
        </ul>
        <div class="description">
          <h1><%= post.title %></h1>
          <p class="text">aaaaaaaaa</p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
