  <!-- demo -->
  <div class="container">
    <a class="btn btn-primary" href="#">予約</a>
    <a class="btn btn-primary" href="#">minimo</a>
    <a class="btn btn-primary" href="https://www.instagram.com/atsuya.0724/">instagram</a>
  </div>

<div class="row">
  <% @posts.each do |post| %>
    <div class="cp_card02 col-md-6">
      <%= link_to post_path(post) do %>
        <% if post.image.attached? %>
          <div class="photo photo1">
            <%= image_tag(post.thumbnail) %>
          </div>
        <% end %>
        <ul class="details">
          <li class="date"><%= post.created_at %></li>
        </ul>
        <div class="description">
          <h1><%= post.title %></h1>
          <p class="text">aaaaaaaaa</p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
