<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<%= link_to '編集', edit_admin_post_path %>
<%= link_to '削除', admin_post_path(@post), method: :delete, data: { confirm: "記事「#{@post.title}」を削除します。よろしいですか？"} %>
