<div class="about">
  <h2 class="about-title">About</h2>
  <p class="about-text">aaaasaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  aaaasaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaasaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
  <div class="about-profile row">
    <p class="about-img col-4"><img src="/assets/profile-image.jpg" width="160" height="160" /></p>
    <div class="about-info col-8">
      <h2 class="about-name">武藤 篤弥　Muto Atsuya</h2>
      <dl class="about-dl row">
        <dt class="about-dt col-3">所在地:</dt>
        <dd class="about-dd col-9">神奈川県</dd>
        <dt class="about-dt col-3">お問い合わせ:</dt>
        <dd class="about-dd col-9">example.com</dd>
        <dt class="about-dt col-3">Twitter:</dt>
        <dd class="about-dd col-9">aaaaa</dd>
        <dt class="about-dt col-3">Instagram:</dt>
        <dd class="about-dd col-9">aaaaaa</dd>
      </dl>
    </div>
  </div>
</div>
