.posts-main {
  margin: auto;
  .card-box {
    padding: 15px 0;
    .card-description {
      padding: 20px;
      .post-date {
        background-color: #111111;
        color: #fff;
        padding: 0 10px;
      }
      .post-title {
        margin: 20px 0;
        font-size: 1.2rem;
      }

    }
  }
  img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .posts-main {
    width: 760px;
  }
}
